@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-background: #f8f9fa;
    --color-on-background: #191c1d;
    --color-surface: #f8f9fa;
    --color-on-surface: #191c1d;
    --color-surface-variant: #e1e3e4;
    --color-on-surface-variant: #5a6268;
    --color-surface-container: #edeeef;
    --color-surface-container-low: #f3f4f5;
    --color-surface-container-lowest: #ffffff;

    --color-primary: #f27b27;
    --color-on-primary: #ffffff;
    --color-primary-container: #de6716;
    --color-primary-fixed: #feede1;
    --color-primary-fixed-dim: #fcd1b0;

    --color-secondary: #3178c6;
    --color-on-secondary: #ffffff;
    --color-secondary-container: #2663a6;
    --color-secondary-fixed: #eaf2fa;

    --color-tertiary: #4a5568;
    --color-tertiary-fixed: #e2e8f0;
    --color-on-tertiary-fixed: #1a202c;
    --color-outline-variant: #d1d5db;

    --font-headline-md: "Plus Jakarta Sans", sans-serif;
    --font-headline-lg: "Plus Jakarta Sans", sans-serif;
    --font-headline-xl: "Plus Jakarta Sans", sans-serif;

    --spacing-margin-mobile: 16px;
    --spacing-margin-desktop: 40px;
    --spacing-container-max: 1280px;
    --spacing-gutter: 24px;
    --spacing-base: 8px;

    /* animasi */
    --animate-shimmer: shimmer 1.5s infinite;
    @keyframes shimmer {
        100% { transform: translateX(100%); }
    }
}